.container {
	position: relative;
	width: 100%;
	padding-top: 100%;
}

#bgimage {
    content:url(../img/Comet_Hale-Bopp_1995O1.jpg);
	position: absolute;
	left:0;
	top: 0;   
	width: 100%;
	z-index: -1;
	/* -webkit-animation: bgin 1s forwards; */
}

.coma {
}