html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.col {
  margin-left: 1.5em;
}

.fade-in {
  opacity: 0;
  transition: opacity 250 ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%);
}

.from-left, .from-right {
  transition: transform 400ms ease-in;
}

.from-left.appear, .from-right.appear {
  transform: translateX(0);
}

.parallax {
  /* The image used */
  background-image: url("../img/molecular_cloud.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}