:root {
    --dashLength: 100.0;
}

a {
    color:rgb(136, 136, 255);
}

#container{
    position:absolute;
    left: 0;
    top: calc(50vh - (100vw)/3);
    width: 100vw;
    height: 66.666vw;
}

@media (min-aspect-ratio: 1.5) {
    #container{
        left: calc(50vw - 75vh);
        top: 0;
        width: 150vh;
        height: 100vh;
    }
}

#myCanvas, #mySVG, #imgCanvases, #imgCanvases > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#mySVG{
    z-index: 1;
}

.clickable {
    cursor: pointer;
    pointer-events: all;
}

#displayPaths > *{
    fill: none;
    stroke: white;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: var(--dashLength) var(--dashLength);
    /* filter: blur(3px); */
    filter: drop-shadow(0 0 0.25vw white);
    /* animation: testAnim 1s linear forwards infinite; */
}

.movingPath{
    animation: pathMove 2s linear 0s infinite reverse; 
}

@keyframes pathMove{
    from {stroke-dashoffset: 0;}
    to   {stroke-dashoffset: calc(2px * var(--dashLength));}
}

#imgCanvases > canvas{
    z-index: 0;
}

#creditsArea {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}